.author{
    font-weight:bolder;
    color:slategray;
    padding: 0px 10px;
}
.posted{
    font-weight:bolder;
    color:slategray;
    float: right;
    padding: 0px 10px;
}
.author i{
    font-weight: lighter;
    color: black;opacity: 0.5;
}
.posted i{
    font-weight: lighter;
    color: black;opacity: 0.5;
}
h1{text-transform: capitalize}
h1::first-letter{font-weight: 900}
